body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}
body {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px!important;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.header-overlay {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.button-container{
  font-size: 100px;
  position: relative;
  top: 500px;
}

section ul li, section ol li {
  font-size: 1em;
  margin-left: -20px;
  line-height: 1.8;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

header {
  background-color: #999;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
 
}

header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #fff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .9em;
}

footer {
  margin-bottom: 1em;
  color: #888;
}
footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 540px;
  }
  
  header p {
    top: 530px;
    font-size: 1.5em;
  }
}

.white-text {
  color: white !important;
}

.white-text:hover {
  color: #ccc !important;
}
@media screen and (min-width: 40em) {

  .grid-1 { width: 33.3333333%; }

  .grid-2 { width: 66.6666666%; }
  
}
